<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta name="description" content=""> 
    <%-include('./partials/links.ejs') %>
    <title> My Image Translator - Meus Dados</title>
    <link rel="stylesheet" href="/css/create-account.css">
</head>


<body class="text-primary">
    <div class="mt-5 container rounded wrapper">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4 logo" src="/image/imagem-inicio.png" alt="" width="72" height="57">

                <h1>Meus Dados</h1>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="col-md-7 col-lg-8" id="dadosPessoais">
                    <form action="/user/create" method="post" id="formulario">
                       <input type="hidden" name="" id="userId" value="<%=user.id%>">
                        <!-------------------------------------------------- Seccão 1 ------------------------------------------------------------------------  -->
                        <section class="row g-2" id="sec1">
                            <h2>Dados Essenciais</h2>
                            <div class="col-12">
                                <label for="firstName" class="form-label">Primeiro name</label>
                                <input type="text" name="firstName" class="form-control " id="firstName" value="<%=user.first_name %>"
                                     placeholder="Primeiro nome" >
                            </div>

                            <div class="col-12">
                                <label for="lastName" class="form-label">Sobrenome</label>
                                <input type="text" name="lastName" class="form-control" id="lastName" value="<%=user.last_name %>"
                                    placeholder="Sobrenome"  >
                            </div>

                            <div class="col-12">
                                <label for="bi" class="form-label">Nº Bilhete</label>
                                <input type="text" name="bi" class="form-control" id="bi" value="<%=user.bi %>"
                                    placeholder="Ex: 0040000012350L040" disabled >
                            </div>


                            <div class="col-12">
                                <label for="address" class="form-label">Rua e Casa</label>
                                <input type="text" name="address" class="form-control" id="address"
                                    placeholder="Ex: Rubra Casa 40" value="<%=user.address%>"  > 
                            </div>

                            <div class="col-12">
                                <label for="gender" class="form-label">Gênero</label>
                                <select name="gender" class="form-select" id="gender" >
                                    <% 
                                        let gM="";
                                        let gF="";
                                        if(user.gender=="MASCULINO")
                                            gM="checked";
                                        else
                                            gF="checked";
                                    %>
                                    <option value="M" <%=gM%>> MASCULINO</option>
                                    <option value="F" <%=gF%>> FEMENINO</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="maritalStatus" class="form-label">Estado Cívil</label>
                                <select name="maritalStatus" class="form-select" id="maritalStatus" >
                                    <option value="S" checked>SOLTEIRO</option>
                                    <option value="C">CASADO</option>
                                    <option value="V">VIÚVO</option>
                                    <option value="D">DIVORCIADO</option>
                                </select>
                            </div>
                            
                        
                        <!-------------------------------------------------- Seccão 3 ------------------------------------------------------------------------  -->
                        <section class="row g-1  mt-5" id="sec3">
                            <h4>Suas Credencias</h4>
                            <div class="col-12">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">@</span>
                                    <input type="text" name="username" class="form-control" id="username"
                                        placeholder="Username" value="<%=user.username %>" disabled>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="email"
                                    placeholder="you@example.com" value="<%=user.email%>" disabled>
                            </div>
                            <div class="col-12">
                                <label for="password1" class="form-label">Password</label>
                                <input type="password" name="password1" class="form-control" id="password1"
                                    placeholder="Password" value="" required>
                            </div>
                            <div class="col-12">
                                <label for="password2" class="form-label">Confirme a Password</label>
                                <input type="password" name="password2" class="form-control" id="password2"
                                    placeholder="Confirmação da Password" value="" required>
                            </div>
                        </section>

                        <div class="col-12">
                            <hr class="my-4">
                            <!-- <div class="w-100 btn-group" role="group" aria-label="Basic example">
                                <button type="button" id="voltarSec" class="btn btn-primary"><i
                                        class='bx bx-chevron-left'></i></button>
                                <button type="button" id="avancarSec" class="btn btn-primary"><i
                                        class='bx bx-chevron-right'></i></button>
                            </div> -->
                            <button id="buttonSalveDatas" class="mt-3 w-100 btn btn-primary btn-lg"
                                type="button">Salvar Dados
                            </button>
                            
                            <a href="/main/<%=user.id%>" class="text-light link-voltar-login">Voltar ao menu</a>
                        </div>
                    </form>
                </div>

            </div>
        </main>


        <footer class="my-5 pt-5  text-center text-small">
            <p class="mb-1 ">&copy; - 2023 My Image Translator</p>
        </footer>
    </div>
    <script src="/js/countries.js"></script>
    <script src="/js/edit-account.js"></script>
</body>
</html>