<!DOCTYPE html>
<html lang="pt-AO">

<head>
  <meta name="description" content="">
  <%-include('./partials/links.ejs')%>
  <title>My Image Translator</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="">
  <section>
    <input type="hidden" name="" id="userNativeLanguage" value="<%=user.native_language%>">
    <input type="hidden" name="" id="userId" value="<%=user.id%>">
  </section>
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary" aria-label="Third navbar example">
      <div class="container-fluid">
        <h1>
          <a class="navbar-brand" href="/main/<%=user.id %>">My Image Translator</a>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/main/<%=user.id %>">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/my-searches/<%=user.id %>">Minhas Pesquisas</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="/login">Logout</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
              aria-expanded="false">Definições</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/show-personal-datas/<%=user.id %>">Ver Dados Pessoais</a></li>
                <li><a class="dropdown-item" href="/user/edit-account/<%=user.id %>">Alterar Dados Pessoais</a></li>
              </ul>
            </li>
          </ul>

         
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container-fluid   mt-5">
      <div class=" d-flex justify-content-evenly flex-sm-row flex-column m-t-sm 5">
        <div class="card shadow-sm">
          <div class="">
            <img id="imageLoaded" src="/image/imagem-inicio.png" 
            alt="Imagem de documento para digitalizar e processar no My Lens Tractudor" class="border-bottom w-100">
            <div class="card-body">
              <p class="card-text">
                Escolha a Imagem que deseja digitalizar!
              </p>
              <div class="d-flex justify-content-between align-items-end flex-column mb-3">
                <div class="btn-group mt-auto">
                  <input style="display: none;" type="file" id="btnUploadImage">
                  <label for="btnUploadImage" class="btn btn-sm btn-outline-primary" >Upload Imagem</label>
                  <button type="button" id="btnExtractImage" class="btn btn-sm btn-outline-primary">Extrair</button>
                </div>

                <div class="progress-container">
                  <span>Processando Imagem:
                    <span id="progressValue"></span>
                  </span>
                  <div id="progress">1</div>
                </div>
                </d>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow-sm p-3">
          <div>
            <p>De:</p>
            <select class="form-select mb-3 " aria-label="Default select example">
            </select>
          </div>

          <div class=" ">
            <textarea id="sourceText"  cols="30" rows="10" placeholder="Texto a extrair-se da Imagem"  ></textarea>
            <div class="card-body">
              <p class="card-text">Tradução do texto </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" id="btnTranslate" class="btn btn-sm btn-outline-primary" title="Traduzir texto">Traduzir</button>
                  <button type="button" id="btnClear" class="btn btn-sm btn-outline-primary" title="Limpar texto">Limpar</button>
                  <button type="button" id="sourceSpeaker" class="btn btn-sm btn-outline-primary" title="Ler"><i class='bx bxs-speaker'></i></button>
                  <button type="button" id="sourceCopy" class="btn btn-sm btn-outline-primary" title="Copiar"><i class='bx bx-copy-alt'></i></button>
                </div>
                <!-- <small class="text-body-secondary">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>

        <div class="card p-3">
          <div>
            <p>Para:</p>
            <select class="form-select mb-3 " aria-label="Default select example">
            </select>
          </div>

          <div class=" ">
            <textarea id="finalText" cols="30" rows="10" placeholder="Texto a se traduzir" disabled ></textarea>
            <div class="card-body">
              <p class="card-text">
                Texto Traduzido.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" id="finalSpeaker" class="btn btn-sm btn-outline-primary" title="Ler"><i class='bx bxs-speaker'></i></button>
                  <button type="button" id="finalCopy" class="btn btn-sm btn-outline-primary" title="Copiar"><i class='bx bx-copy-alt'></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>


    <script src="https://unpkg.com/tesseract.js@v2.0.0-alpha.13/dist/tesseract.min.js"></script>
    <script src="/js/countries.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>